<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%home%\site\wwwroot\startup.sh" arguments="" stdoutLogEnabled="true" stdoutLogFile="%home%\LogFiles\stdout.log" />
  </system.webServer>
</configuration> 